.hero {
  background: url("../images/18-1024x682.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #B8B4A4, #fbf5df);
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    font-family: 'Open Sans', sans-serif;
    color: #c24c4c;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center; }
  .hero p {
    font-family: 'Open Sans', sans-serif;
    color: #c24c4c;
    line-height: 1.75em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem; }
  .hero p.sous-titre {
    font-style: italic;
  }
  .hero .tech-img {
    background: url("../images/og-logo-BW-site.png") no-repeat center center;
    background-size: cover;
    height: 9rem;
    /*width: 9rem;*/
    height: 85px;
    width: 300px;
    /* border-radius: 50%;*/
    display: block;
    text-align: center;
    margin: 0 auto; }
  .hero .icons {
    text-align: center;}
  .hero .fb-img {
    background: url("../images/fb.png") no-repeat center center;
    background-size: cover;
    height: 64px;
    width: 64px;
    /* border-radius: 50%;*/
    display: block;
    text-align: center;
    margin: 0 auto; }
  @media only screen and (min-width: 40.063em) {
    /*.hero .tech-img {*/
      /*height: 18rem;*/
      /*width: 18rem; }*/
    .hero h1 {
      padding-top: 0.5rem;
      text-align: center;
      font-size: 2rem; }
    .hero p {
      text-align: center; } }
